
  @import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-size: 100%;
    
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
.dropdown{
    background: #007fff;
    display:flex;
    text-align: start;
}

.dropdown ul{
    list-style: none;
    margin-block-end: 0;
    margin-block-start: 0;
    padding-inline-start: 0;
}

.label{
    cursor: pointer;
    background: #007fff;
    padding: 0.8rem 1rem;
    color: white;
    width: 100%;
    display: block;
    box-sizing: border-box;
    transition: all 0.3s;
}

.items a{
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
    text-decoration: none;
    transition: all 0.2s;
}

.items a:hover{
    border-left: 5px solid;
    background: rgb(37, 37, 37);

}

.fa-brands, .fa-solid{
    margin-right: 10px;
}

.items{
    background: rgb(52, 52, 52);
    opacity: 0;
    visibility: hidden;
    min-width: 10%;
    height: 0;
    position: absolute;
    top: 48px;
    transform-origin: top;
    transform: scaleY(0);
    transition: transform 0.3s;
    z-index: 999;
}

.items::before{
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    background: rgb(52, 52, 52);
    transform: rotate(45deg);
    top: -7px;
    left: 20px;
    z-index: -1;
}

.dropdown:hover > .items{
    opacity: 1;
    visibility: visible;
    height: unset;
    transform: scaleY(1);
}
.dropdown:hover > .label{
    background: rgb(255, 115, 0);
}
#logo{
    font-size: 1.5rem;
    font-weight: bold;
}
#header{
    display: flex;
    align-items: center;
    padding: 1rem;
    height: 120px;
    box-sizing: border-box;
    justify-content:space-around;
    background: linear-gradient(30.15deg, #fafdfd 60.62%, #007fff 99.61%);
}
#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
    color: #373737;
    font-size:24px;
    font-weight: 400;
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
}

#menu a:hover{
    text-decoration: underline
        rgb(0, 99, 180)20%;
}

#btn-mobile{
    display: none;
}




.corpo{
    position: relative;
    height: 100%;
}
#img-slide{
    width: 60%;
    height: 50vh;
    display: flex;
    margin-bottom:20px;
}
.img{
    flex: 1;
    height: 100%;
    transform: skew(5deg);
    cursor: pointer;
    margin: 0 2px;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.img1{
    background-image: url(/img/img01.jpg);
}

.img2{
    background-image: url(/img/img02.jpg);
}

.img3{
    background-image: url(/img/img03.jpg);
}

.img4{
    background-image: url(/img/espelhos.jpg)
}

.img p{
    position: absolute;
    left: 0; bottom: 0;
    padding: 10px;
    background-color: rgba(0,0,0,0.6);
    transform: rotate(-90deg);
    transition: all 0.3s;
    transform-origin: 0% 0%;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    font-size:2vh;
}

.img-slide:hover .img{
    transform: skew(0);
}

.img:hover{
    flex: 5;
}

.img:hover p{
    background-color: transparent;
    border: 2px solid #545555;
    color: #545555;
    transform: rotate(0deg);
}

.card-body{
    display: flex;
    width: 100%;
    flex-wrap:wrap;
    gap: 50px;
}

.produtos{
    display: flex;
    flex-direction: column;
    font-weight: 400;
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    padding: 48px;
    margin-top: 48px;
    margin-bottom: 250px;

}
.texto-produto{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}


.rodape{
    display: flex;
    justify-content:space-evenly;
    align-items:baseline;
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    background: linear-gradient(30.15deg, #fafdfd 60.62%, #007fff 99.61%);
    border-top: 0.4px solid #aeaeae;
    
}


.background{
    left: 0;
    right: 0;
    z-index: 1;
    background-image: url(/img/img04.webp);
    box-shadow: 3px 2px 5px rgba(17, 17, 17, 0.55);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.conteudo-principal{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    padding:32px;
    color: #fff;
    font-size: 3vh;
    background-color:rgba(51, 51, 51, 0.40);
    z-index: 2;
    
}
.sobre{
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    text-align:justify;
    padding:32px;
    color: #fff;
    font-size: 3vh;
    background-color:rgba(51, 51, 51, 0.40);
    z-index: 3;
    
}

.typewriter {
    font-family: 'Anonymous Pro', monospace;
    width: 70%;  
  }
  h1 {
    overflow: hidden;
    margin: 0 auto;
    display: inline-block;
    font-weight: normal;
    text-align: center;

  }
  h1:after{
   content: '';
    display: inline-block;
    background-color: white;
    margin-left: 2px;
    height: 25px;
    width: 4px;
    animation: cursor 0.4s infinite;
    
    
  }

  /* The typewriter cursor effect */
  @keyframes cursor {
    0% { opacity: 1; }
      49% { opacity: 1; }
      50% { opacity: 0; }
      100% { opacity: 0; }
  }

.conteudo-secundario{
    display: flex;
    background: #f0f0f0;
    align-items: center;
    flex-direction: column;
    padding: 48px;
    font-weight: 400;
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    border-top: 0.4px solid #aeaeae;

}
.sub-conteudo{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 48px;
    flex-wrap: wrap;
}
.sub-conteudo img{
    width: 250px;
}

.menssagem{
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
    border: 0.6px solid #cccccc;
    font-size: 3vh;
    margin: auto;
    font-weight: 400;
     text-shadow: 4px 5px 4px rgba(0, 0, 0, 0.705);
     text-align: center;
     flex-direction: column;

}

.conteudo-terciario{
    padding-top: 48px;
    padding-bottom: 158px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    gap: 102px;
    padding: 32px;
    font-weight: 400;
    text-align: center;
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
       
}

.conteudo-terciario img{
    width:105px;
    height:105px;
}
.nav-link{
    color: #FFF2E7;
    font-weight:400;
    font-size: 18px;
}


.carousel-inner{
    height: 400px;
   
}

.conteudo-contatos {  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 48px;
    margin-top: 48px;
    gap: 50px;
    
  }
  
  .formulario {
    font-weight: 400;
    text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
    padding: 0 32px;
    }
  
  .cartao {
       background: #f1efef;
       border: 0.6px solid #cccccc;
       height: 300px;
       width: 300px;
       font-weight: 400;
        text-shadow: 4px 5px 4px rgb(0, 0, 0, 0.25);
        align-items: center;
        text-align: center;
        padding-top: 80px;

 }
  

 @media (max-width: 800px){
    #btn-mobile{
        display:block;
    }
    #menu{
        display:block; 
       position:absolute;
       width:100%;
       top: 170px;
       right: 0;
       background: linear-gradient(30.15deg, #fafdfd 60.62%, #007fff 99.61%);
       height: 0;
       z-index: 998;
       transition: .6s;
       visibility: hidden;
       overflow-y: hidden;
    }
    #nav.active #menu{
        height:calc(100vh - 70px);
        visibility: visible;
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px  solid rgba(0, 0, 0, .05);
        text-align: center;
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        padding: 1px;

    }
    #hamburger{
        width:20px;
        border-top: 2px solid;
    }
    #hamburger::after, #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #logo{
        margin-top: 15px;
    }
    #img-slide{
            width: 100%;
        
    }
    .rodape{
        display: flex;
        justify-content:space-evenly;
        align-items:baseline;
        font-size: 0.8rem;
        padding: 20px;
        bottom: 0;
        left: 0;
        width: 100%;
        background: linear-gradient(30.15deg, #fafdfd 60.62%, #007fff 99.61%);
        border-top: 0.4px solid #aeaeae;
        
    }
}
